:root {
    --desatRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayRed: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
   
}


.logo-container {
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

.img-logo {
    height: 20px;
}
    

.container {
    width: 375px;
    background-size: cover;  
}

.main-content {
    display: flex;
    flex-direction: column-reverse;
}

.main-img {
    margin-bottom: 50px;
}

div > h1 > span {
    display: block;
    text-align: center;
    color: var(--desatRed);
    font-weight: 300;
}
#coming-soon {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 600;
    color: var(--darkGrayRed);
    margin: 60px 0 15px 0;
}

#main-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 40px 0 40px;
    color: var(--desatRed);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

#form {
    position: relative;
    max-width: 311px;
    
}

.email-capture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 390px;
}

.email-input {
    background: transparent;
    height: 48px;
    width: 320px;
    border-radius: 28px;
    text-indent: 1.5rem;
    border: 1px solid var(--desatRed);
}

.email-submit {
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0 15px 20px #c66e6e40;
    width: 68px;
    height: 52px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0;
    right: -5%;
   
}

.email-input::placeholder {
    color:#ce9898;
    opacity: .5;
}

.email-submit > #icon-error {
    position: absolute;
    top: 13px;
    right: 4.5rem;
    display: none;
}


.email-submit:hover {
    opacity: .6;
}



#error {
    color: var(--softRed);
    margin: 1rem 0 0 2rem;
}

@media (min-width: 1000px) {
    body {
        width: 100%;
    }

    .img-logo {
        position: absolute;
        transform: translate(-540px, 50px);
    }

    .main-content {
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 50px;
        margin-top: 150px;
        width: 500px;
    }

    .main-img {
        margin-bottom: 20px;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }



}
